.checkout-table {
  width: 100%;
  display: table;
}

.checkout-items-img {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 100%;
    max-width: 150px;
    padding-top: 2%; 
    padding-bottom: 2%; 
  }
}

.checkout-name {
  font-size: 1rem;
}

.checkout-items-row {
  .increment,
  .decrement {
    cursor: pointer;
    padding: 10px;
  }

}

.t-header {  
  margin: 2%;
  text-align: center;
  
  .price {
    padding-right: 8%;
  }
}

.checkout-price {
  text-align: center;
}

.checkout-total {
  text-align: end;
}

.pay-action {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: absolute;
  justify-content: space-between;

  .pay-address { background: #909090 }

  .pay-button {
    margin: 2px;
    align-self: center;
    background: #707070;
    min-width: fit-content;
  }
}

.pay-gap {
  height: 200px;
}